In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()

In [2]:
unemployment = spark.read.format('csv').option('header','true').option('delimiter', ',').option('inferSchema', 'true').load('Unemployment in America Per US State.csv')
unemployment.createOrReplaceTempView('unemploymentDetails')

In [4]:
from pyspark.sql.functions import sum
spark.sql('SELECT `Total Civilian Non-Institutional Population in State/Area` AS Total_SUM, `State/Area`, Month \
          FROM unemploymentDetails where Year=2022 Order by Total_SUM desc LIMIT 12').show()

+---------+----------+-----+
|Total_SUM|State/Area|Month|
+---------+----------+-----+
| 31111080|California|   11|
| 31110628|California|   12|
| 31110145|California|   10|
| 31106495|California|    9|
| 31102684|California|    8|
| 31099528|California|    7|
| 31091865|California|    6|
| 31085888|California|    5|
| 31079118|California|    4|
| 31078917|California|    1|
| 31074445|California|    2|
| 31074229|California|    3|
+---------+----------+-----+

In [87]:
spark.sql('SELECT `Total Civilian Labor Force in State/Area` AS Total_SUM, `State/Area`, Month \
          FROM unemploymentDetails where Year=2022 Order by Total_SUM desc LIMIT 1').show()

+---------+----------+-----+
|Total_SUM|State/Area|Month|
+---------+----------+-----+
| 19282095|California|   11|
+---------+----------+-----+

In [88]:
spark.sql('SELECT `Total Employment in State/Area` AS Total_Employment, `State/Area`,Month\
          FROM unemploymentDetails where Year=2022 Order by Total_Employment desc LIMIT 1').show()

+----------------+----------+-----+
|Total_Employment|State/Area|Month|
+----------------+----------+-----+
|        18512138|California|    6|
+----------------+----------+-----+

In [89]:
spark.sql('SELECT `Total Unemployment in State/Area` AS Total_Unemployment, `State/Area`,Month\
          FROM unemploymentDetails where Year=2022 Order by Total_Unemployment desc LIMIT 1').show()

+------------------+----------+-----+
|Total_Unemployment|State/Area|Month|
+------------------+----------+-----+
|            994165|California|    1|
+------------------+----------+-----+

In [95]:
spark.sql('SELECT MAX(`Total Unemployment in State/Area`) AS Total_Unemployment, Year, Month, `State/Area`\
          FROM unemploymentDetails group by Year,Month, `State/Area` order by Total_Unemployment desc LIMIT 10').show()

+------------------+----+-----+----------+
|Total_Unemployment|Year|Month|State/Area|
+------------------+----+-----+----------+
|           3018611|2020|    4|California|
|           2922491|2020|    5|California|
|           2626144|2020|    6|California|
|           2513656|2020|    7|California|
|           2308593|2010|    3|California|
|           2307066|2010|    2|California|
|           2302825|2010|    4|California|
|           2296700|2010|    1|California|
|           2290204|2010|    5|California|
|           2286213|2010|   10|California|
+------------------+----+-----+----------+

In [96]:
spark.sql('SELECT MAX(`Total Employment in State/Area`) AS Total_Employment, Year, Month, `State/Area`\
          FROM unemploymentDetails group by Year,Month, `State/Area` order by Total_Employment desc LIMIT 10').show()

+----------------+----+-----+----------+
|Total_Employment|Year|Month|State/Area|
+----------------+----+-----+----------+
|        18754316|2020|    1|California|
|        18751201|2019|   12|California|
|        18739937|2020|    2|California|
|        18728829|2019|   11|California|
|        18694897|2019|   10|California|
|        18662231|2019|    9|California|
|        18635662|2019|    8|California|
|        18617193|2019|    7|California|
|        18599205|2019|    6|California|
|        18579975|2019|    5|California|
+----------------+----+-----+----------+

In [110]:
spark.sql('SELECT `State/Area`, Year, Month, `Total Unemployment in State/Area`, \
case when Month = 1 then "January"\
when Month = 2 then "February" \
when Month = 3 then "March" \
else "NOT IN FIRST QUARTER" end as MonthDetails \
from unemploymentDetails where Year=2022 and Month in(1,2,3) order by `Total Unemployment in State/Area` desc LIMIT 20').show()

+------------+----+-----+--------------------------------+------------+
|  State/Area|Year|Month|Total Unemployment in State/Area|MonthDetails|
+------------+----+-----+--------------------------------+------------+
|  California|2022|    1|                          994165|     January|
|  California|2022|    2|                          909437|    February|
|  California|2022|    3|                          837088|       March|
|       Texas|2022|    1|                          630892|     January|
|       Texas|2022|    2|                          598105|    February|
|       Texas|2022|    3|                          569834|       March|
|    New York|2022|    1|                          492985|     January|
|    New York|2022|    2|                          455752|    February|
|    New York|2022|    3|                          424179|       March|
|     Florida|2022|    1|                          371228|     January|
|     Florida|2022|    2|                          349523|    February|
|     Florida|2022|    3|                          331866|       March|
|    Illinois|2022|    1|                          308798|     January|
|    Illinois|2022|    2|                          301178|    February|
|    Illinois|2022|    3|                          294491|       March|
|Pennsylvania|2022|    1|                          288837|     January|
|Pennsylvania|2022|    2|                          284267|    February|
|Pennsylvania|2022|    3|                          281841|       March|
|  New Jersey|2022|    1|                          238339|     January|
|        Ohio|2022|    1|                          235853|     January|
+------------+----+-----+--------------------------------+------------+

In [114]:
spark.sql('SELECT `State/Area`, Year, Month, `Total Employment in State/Area`, \
case when Month = 1 then "January"\
when Month = 2 then "February" \
when Month = 3 then "March" \
else "NOT IN FIRST QUARTER" end as MonthDetails \
from unemploymentDetails where Year=2022 and Month in(1,2,3) order by `Total Employment in State/Area` desc LIMIT 20').show()

+------------+----+-----+------------------------------+------------+
|  State/Area|Year|Month|Total Employment in State/Area|MonthDetails|
+------------+----+-----+------------------------------+------------+
|  California|2022|    3|                      18382817|       March|
|  California|2022|    2|                      18301764|    February|
|  California|2022|    1|                      18205836|     January|
|       Texas|2022|    3|                      14035637|       March|
|       Texas|2022|    2|                      13975315|    February|
|       Texas|2022|    1|                      13905907|     January|
|     Florida|2022|    3|                      10340203|       March|
|     Florida|2022|    2|                      10282914|    February|
|     Florida|2022|    1|                      10224527|     January|
|    New York|2022|    3|                       9186959|       March|
|    New York|2022|    2|                       9151475|    February|
|    New York|2022|    1|                       9109926|     January|
|Pennsylvania|2022|    3|                       6197038|       March|
|    Illinois|2022|    3|                       6196105|       March|
|    Illinois|2022|    2|                       6184622|    February|
|Pennsylvania|2022|    2|                       6177395|    February|
|    Illinois|2022|    1|                       6164248|     January|
|Pennsylvania|2022|    1|                       6151448|     January|
|        Ohio|2022|    3|                       5532083|       March|
|        Ohio|2022|    2|                       5517007|    February|
+------------+----+-----+------------------------------+------------+

In [126]:
spark.sql('SELECT `State/Area`,Year,`Total Civilian Non-Institutional Population in State/Area` as Total_Population,\
`Total Civilian Labor Force in State/Area` as Total_LaborForce, `Percent (%) of State/Areas Population` as `%_LaborForce`,\
`Total Employment in State/Area` as Total_Employed, `Percent (%) of Labor Force Employed in State/Area` as `%_Employed`,\
`Total Unemployment in State/Area` as Total_Unemployed, `Percent (%) of Labor Force Unemployed in State/Area` as `%_Unemployment` ,\
`Total Employment in State/Area`+`Total Unemployment in State/Area` as Total_Matched, case when Month = 1 then "January"\
when Month = 2 then "February" \
when Month = 3 then "March" \
else "NOT IN FIRST QUARTER" end as MonthDetails \
from unemploymentDetails where Year=2022 and Month in(1,2,3) order by `Total Employment in State/Area` desc LIMIT 20').show()

+------------+----+----------------+----------------+------------+--------------+----------+----------------+--------------+-------------+------------+
|  State/Area|Year|Total_Population|Total_LaborForce|%_LaborForce|Total_Employed|%_Employed|Total_Unemployed|%_Unemployment|Total_Matched|MonthDetails|
+------------+----+----------------+----------------+------------+--------------+----------+----------------+--------------+-------------+------------+
|  California|2022|        31074229|        19219905|        61.9|      18382817|      59.2|          837088|           4.4|     19219905|       March|
|  California|2022|        31074445|        19211201|        61.8|      18301764|      58.9|          909437|           4.7|     19211201|    February|
|  California|2022|        31078917|        19200001|        61.8|      18205836|      58.6|          994165|           5.2|     19200001|     January|
|       Texas|2022|        22819296|        14605471|        64.0|      14035637|      61.5|          569834|           3.9|     14605471|       March|
|       Texas|2022|        22785171|        14573420|        64.0|      13975315|      61.3|          598105|           4.1|     14573420|    February|
|       Texas|2022|        22754672|        14536799|        63.9|      13905907|      61.1|          630892|           4.3|     14536799|     January|
|     Florida|2022|        18011405|        10672069|        59.3|      10340203|      57.4|          331866|           3.1|     10672069|       March|
|     Florida|2022|        17983350|        10632437|        59.1|      10282914|      57.2|          349523|           3.3|     10632437|    February|
|     Florida|2022|        17958627|        10595755|        59.0|      10224527|      56.9|          371228|           3.5|     10595755|     January|
|    New York|2022|        15988060|         9611138|        60.1|       9186959|      57.5|          424179|           4.4|      9611138|       March|
|    New York|2022|        15998690|         9607227|        60.1|       9151475|      57.2|          455752|           4.7|      9607227|    February|
|    New York|2022|        16012195|         9602911|        60.0|       9109926|      56.9|          492985|           5.1|      9602911|     January|
|Pennsylvania|2022|        10487374|         6478879|        61.8|       6197038|      59.1|          281841|           4.4|      6478879|       March|
|    Illinois|2022|        10043159|         6490596|        64.6|       6196105|      61.7|          294491|           4.5|      6490596|       March|
|    Illinois|2022|        10048187|         6485800|        64.5|       6184622|      61.5|          301178|           4.6|      6485800|    February|
|Pennsylvania|2022|        10490223|         6461662|        61.6|       6177395|      58.9|          284267|           4.4|      6461662|    February|
|    Illinois|2022|        10055315|         6473046|        64.4|       6164248|      61.3|          308798|           4.8|      6473046|     January|
|Pennsylvania|2022|        10495444|         6440285|        61.4|       6151448|      58.6|          288837|           4.5|      6440285|     January|
|        Ohio|2022|         9330415|         5758127|        61.7|       5532083|      59.3|          226044|           3.9|      5758127|       March|
|        Ohio|2022|         9330765|         5747444|        61.6|       5517007|      59.1|          230437|           4.0|      5747444|    February|
+------------+----+----------------+----------------+------------+--------------+----------+----------------+--------------+-------------+------------+

In [146]:
spark.sql('SELECT `FIPS Code`, `State/Area`,Year,Month, `Total Civilian Non-Institutional Population in State/Area` as Total_Count \
FROM unemploymentDetails WHERE `Total Civilian Non-Institutional Population in State/Area` =\
(SELECT max(`Total Civilian Non-Institutional Population in State/Area`) as Max_Population FROM unemploymentDetails) LIMIT 1').show()

+---------+----------+----+-----+-----------+
|FIPS Code|State/Area|Year|Month|Total_Count|
+---------+----------+----+-----+-----------+
|        6|California|2020|    7|   31236439|
+---------+----------+----+-----+-----------+

In [14]:
from pyspark.sql.functions import sum
spark.sql('SELECT `Total Civilian Non-Institutional Population in State/Area` AS Total_SUM, `State/Area` \
          FROM unemploymentDetails where Year=2022 and month =1 Order by Total_SUM desc LIMIT 12').show()

+---------+------------+
|Total_SUM|  State/Area|
+---------+------------+
| 31078917|  California|
| 22754672|       Texas|
| 17958627|     Florida|
| 16012195|    New York|
| 10495444|Pennsylvania|
| 10055315|    Illinois|
|  9333345|        Ohio|
|  8456830|     Georgia|
|  8071287|    Michigan|
|  7416181|  New Jersey|
|  6822085|    Virginia|
|  6194368|  Washington|
+---------+------------+